* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color:lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    zoom: 75%;
}

/* Layout */

.container {
    position: relative;
    max-width: 550px;
    border-radius: 45px;
    margin-top: 50px;
    padding-top: 10px;
    background-color: #F8F8F8;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
    flex-direction: column;
}

header {
    display: flex; 
    border: 18px solid #F8F8F8;
    border-radius: 30px;
    justify-content: space-between;
    align-items: baseline;
}

main {
    position: relative;
    border: #F8F8F8 8px solid;
    font-family: 'Poppins', sans-serif;

}

.details {
    display: flex;
    flex-direction: column;
    justify-content: end; 
    margin-left: 10px;
    z-index: 2; 
    position: absolute;
    /* top: 1500px; */
    bottom: 0;
    right: 1;
    left:1;
    color: white;
}

.contain-data {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.end-text {
    border: #F8F8F8 8px solid;
    text-align: center;
    height: 80vh;
    z-index: -1;

} 

@media (max-width:550px) {
    .end-text {
        min-width: 465px;
        min-height: 665px;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
}

/* Typography */

#liked, #disliked {
    font-size: 2.5rem;
    font-weight: 800;
    z-index: 2;
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 1;
    left:1;
    height: 110px;
    padding: 5px 10px;
    margin-left: 15px; 
    transform: rotate(-30deg);
    border: 1px solid; 
    border-image-slice: 1;
    border-width: 15px;
}

#liked, #like-btn {
    background: linear-gradient(to left, #00D894  15%, #56E9CD 85%);
}

#liked {
    visibility: hidden;
    border-image-source:  linear-gradient(to left, #00D894  15%, #56E9CD 85%);
}

#disliked {
    visibility: hidden;
    background: linear-gradient(to left, #E82D70  15%, #F06957 85%);
    border-image-source: linear-gradient(to left, #E82D70  15%, #F06957 85%);
}

#disliked, #liked {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#name {
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: -1.5rem;
    color: #F8F8F8;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.63);
}

#tagline{
    font-weight: 600;
    font-size: 1.5rem;
    color: #e0e0e0;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.63);
}

i{
    font-size: 2.15rem;
    padding-top: 2px;
    padding-bottom: 2px;
}

.visibility {
    visibility: visible;
}

.fa-dog {
    font-size: 5rem;
}

/* Buttons and Images */

button {
    border-radius: 50px; 
    border: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#like-btn {
    margin: 1.5rem 0rem 1.5rem 0.75rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1.025rem;
}

#like-btn:hover {
    box-shadow: 0px 10px 20px #CCF1E6;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#dislike-btn { 
    margin: 1.5rem 0.75rem 1.5rem 0rem;
    background-color: #F8F8F8;
    background-image: url(images/icon-cross.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 2.20rem;
}

#dislike-btn:hover {
    box-shadow: 0px 10px 20px #EDD9DF;
}

img {
    width: 100%;
}

#dog {
    display: inline;
  border-radius: 15px;
  height: 80vh;
}

.profile, .chat {
   max-height: 34px;
}

.profile {
    max-width: 32.33px;
}

.chat {
    max-width: 34px;
}

.logo {
    max-width: 84px;
}


